<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tbvolscroll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tbvolscroll.Properties.Settings>
            <setting name="VolumeStep" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PreciseScrollThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BarWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BarHeight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UseBarGradient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BarColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="BarOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>1.94</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Segoe UI Semibold, 8.25pt, style=Bold</value>
            </setting>
        </tbvolscroll.Properties.Settings>
    </userSettings>
</configuration>