<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tbvolscroll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tbvolscroll.Properties.Settings>
            <setting name="VolumeStep" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PreciseScrollThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BarWidthPadding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarHeightPadding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolumeBarUseGradientColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeBarSolidColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="VolumeBarOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeBarFontStyle" serializeAs="String">
                <value>Segoe UI Semibold, 8.25pt, style=Bold</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideTimeOut" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AutoRetryAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleMuteShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwitchDefaultPlaybackDeviceShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertScrollingDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualPreciseVolumeShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayTrayIconAsText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrayIconTextUseGradientColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayIconTextSolidColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="DisplayVolumeBarScrolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextRenderingHintType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IgnoreTaskbarVisibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrayIconFontStyle" serializeAs="String">
                <value>Segoe UI Semibold, 8.25pt, style=Bold</value>
            </setting>
            <setting name="TrayIconIsDisplayModeAutomatic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayIconWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="TrayIconHeight" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="TrayIconPadding" serializeAs="String">
                <value>16</value>
            </setting>
        </tbvolscroll.Properties.Settings>
    </userSettings>
</configuration>